<!doctype html>
<html lang="en">
    <head>
        <title>百度钱包万圣节亿元现金派发</title>
        <meta charset="utf-8">
        <meta name="viewport" content="target-densitydpi=device-dpi,width=640, user-scalable=0">
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-status-bar-style" content="black">
        <meta name="format-detection" content="telephone=no">
        <link rel="stylesheet" href="http://cdn.orz-i.com/gj/css/style2.css?v=18">
    </head>
    <style>
    body{background-color: #f5f5f5;}
   
    
    .cover{ display: none;}
    #page-2{display: none;}
    #page-3{display: none;}
   .bg img {
 height: auto;
}
    </style>
    <body>
        
        <div class="wrapper-bg make-page">
            <div class="content-box" id="page-1">
                <div class="bg ">
                    <a class="start-btn">
                    <img src="http://cdn.orz-i.com/qb/img/v2-p1.jpg"/>
                    </a>
                </div>
                
            </div>
            <div class="content-box" id="page-2">
                <div class="bg click">
                    <img src="http://cdn.orz-i.com/qb/img/v2-p2.jpg"/>
                </div>
                <div class="bg cover">
                    <img src="http://cdn.orz-i.com/qb/img/v2-cover.png"/>
                </div>
            </div>
            <div class="content-box" id="page-3">
                <div class="bg click">
                    <a href="http://app.baifubao.com/?channel=v1.1.0_1013240r&from=w"> <img src="http://cdn.orz-i.com/qb/img/v2-p3.jpg"/></a>
                </div>
            </div>
        </div>
        
        <script src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
        <script src="http://7xicpg.com1.z0.glb.clouddn.com/js/jquery.min.js"></script>
        <script type="text/javascript">
        $(document).ready(function(){
        $(".start-btn").click(function(event) {
        
        $("#page-1").hide();
        $("#page-2").show();

        
        });
        $(".bg.click").click(function(event) {
        $(".cover").show();
        });
        })
        </script>
        <script>
        var appId = "{{signature.appid}}";
        var timestamp = "{{signature.timestamp}}";
        var nonceStr = "{{signature.nonceStr}}";
        var signature = "{{signature.signature}}";
        var _ = this,
        href = document.location.href,
        path = href.substr(0, href.lastIndexOf('/')),
        src = 'http://cdn.orz-i.com/qb/img/qbapp-icon-4.png',
        imgUrl = src,
        lineLink = href,
        
        descContent = '百度钱包app上线 200万份168红包',
        shareTitle = ' 百度钱包万圣节亿元现金派发';
        wx.config({
        debug: false,
        appId: appId,
        timestamp: timestamp,
        nonceStr: nonceStr,
        signature: signature,
        jsApiList: [
        'onMenuShareTimeline',
        'onMenuShareAppMessage',
        'onMenuShareQQ',
        'onMenuShareWeibo',
        'checkJsApi',
        'chooseImage'
        // 所有要调用的 API 都要加到这个列表中
        ]
        });
        wx.ready(function() {
        // 在这里调用 API
        wx.onMenuShareAppMessage({
        title: shareTitle,
        desc: descContent,
        link: lineLink,
        imgUrl: imgUrl,
        trigger: function (res) {
        // alert('用户点击发送给朋友');
        },
        success: function (res) {
        $("#page-2").hide();
        $("#page-3").show();
        },
        cancel: function (res) {
        // alert('已取消');
        },
        fail: function (res) {
        alert(JSON.stringify(res));
        }
        });
        wx.onMenuShareTimeline({
        title: shareTitle,
        link: lineLink,
        imgUrl: imgUrl,
        trigger: function (res) {
        // alert('用户点击分享到朋友圈');
        },
        success: function (res) {
        $("#page-2").hide();
        $("#page-3").show();
        },
        cancel: function (res) {
        // alert('已取消');
        },
        fail: function (res) {
        alert(JSON.stringify(res));
        }
        });
        wx.onMenuShareQQ({
        title: shareTitle,
        desc: descContent,
        link: lineLink,
        imgUrl: imgUrl,
        trigger: function (res) {
        // alert('用户点击分享到QQ');
        },
        complete: function (res) {
        // alert(JSON.stringify(res));
        },
        success: function (res) {
        $("#page-2").hide();
        $("#page-3").show();
        },
        cancel: function (res) {
        // alert('已取消');
        },
        fail: function (res) {
        alert(JSON.stringify(res));
        }
        });
        });
        </script>
    </body>
</html>