<html>
<head>
  <title>{% block title %}Blog{% endblock %}</title>
  <style>
    body {
      padding: 80px;
      font: 16px Helvetica, Arial;
    }
    h1 {
      font-size: 2em;
    }
    h2 {
      font-size: 1.2em;
    }
    #posts {
      margin: 0;
      padding: 0;
    }
    #posts li {
      margin: 40px 0;
      padding: 0;
      padding-bottom: 20px;
      border-bottom: 1px solid #eee;
      list-style: none;
    }
    #posts li:last-child {
      border-bottom: none;
    }
    textarea {
      width: 500px;
      height: 300px;
    }
    input[type=text],
    textarea {
      border: 1px solid #eee;
      border-top-color: #ddd;
      border-left-color: #ddd;
      border-radius: 2px;
      padding: 15px;
      font-size: .8em;
    }
    input[type=text] {
      width: 500px;
    }
  </style>
</head>
<body>
  <section id="content">
    {% block content %}
      <p>Missing content!</p>
    {% endblock %}
  </section>

<script src="http://t.orz-i.com/weixinapi"></script>
  <!--- 严格依照微信JS-SDK说明文档开发 http://mp.weixin.qq.com/wiki/7/aaa137b55fb2e0456bf8dd9148dd613f.html -->
<script src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
<script type="text/javascript">
wx.config({
  debug: wx_config['debug'],
  appId: wx_config['appId'],
  timestamp: wx_config['timestamp'],
  nonceStr: wx_config['nonceStr'],
  signature: wx_config['signature'],
  jsApiList: [
            'chooseImage',
            'previewImage',
            'uploadImage',
            'downloadImage',
            'onMenuShareTimeline',
            'onMenuShareAppMessage',
            'onMenuShareQQ',
            'onMenuShareWeibo',
            'openLocation',
            'getLocation',
            'hideOptionMenu',
            'showOptionMenu',
            'translateVoice',
            'startRecord',
            'stopRecord',
            'onRecordEnd',
            'playVoice',
            'pauseVoice',
            'stopVoice',
            'uploadVoice',
            'downloadVoice'
      ]
});
</script>
<script type="text/javascript">

var wx_permissions = {};
function load_wx(){
    wx.ready(function () {
        
        wx.checkJsApi({
          jsApiList: [
            'chooseImage',
            'previewImage',
            'uploadImage',
            'downloadImage',
            'onMenuShareTimeline',
            'onMenuShareAppMessage',
            'onMenuShareQQ',
            'onMenuShareWeibo',
            'openLocation',
            'getLocation',
            'hideOptionMenu',
            'showOptionMenu',
            'translateVoice',
            'startRecord',
            'stopRecord',
            'onRecordEnd',
            'playVoice',
            'pauseVoice',
            'stopVoice',
            'uploadVoice',
            'downloadVoice'
          ],
          success: function (res) {
            wx_permissions = res['checkResult'];
          }
        });
    
        // wx.onMenuShareAppMessage({
        //   title: shareTitle,
        //   desc: descContent,
        //   link: message_link,
        //   imgUrl: imgUrl,
        //   trigger: function (res) {
        //     _gaq.push(['_trackEvent', 'weixin', 'share', 'appmessage', 'click']);
        //   },
        //   success: function (res) {
        //     _gaq.push(['_trackSocial', 'Wechat', 'appmessage', ga_opt_target, ga_opt_pagePath]);
        //   },
        //   cancel: function (res) {
        //     _gaq.push(['_trackEvent', 'weixin', 'share', 'appmessage', 'cancel']);
        //   },
        //   fail: function (res) {
        //     _gaq.push(['_trackEvent', 'error', 'weixinjsapi', 'appmessage', JSON.stringify(res)]);
        //   }
        // });
    
        // wx.onMenuShareTimeline({
        //   title: shareTitle,
        //   link: message_link,
        //   imgUrl: imgUrl,
        //   trigger: function (res) {
        //     _gaq.push(['_trackEvent', 'weixin', 'share', 'timeline', 'click']);
        //   },
        //   success: function (res) {
        //     _gaq.push(['_trackSocial', 'Wechat', 'timeline', ga_opt_target, ga_opt_pagePath]);
        //   },
        //   cancel: function (res) {
        //     _gaq.push(['_trackEvent', 'weixin', 'share', 'timeline', 'cancel']);
        //   },
        //   fail: function (res) {
        //     _gaq.push(['_trackEvent', 'error', 'weixinjsapi', 'timeline', JSON.stringify(res)]);
        //   }
        // });
    
        // wx.onMenuShareQQ({
        //   title: shareTitle,
        //   desc: descContent,
        //   link: message_link,
        //   imgUrl: imgUrl,
        //   trigger: function (res) {
        //     _gaq.push(['_trackEvent', 'weixin', 'share', 'QQ', 'click']);
        //   },
        //   complete: function (res) {
        //     _gaq.push(['_trackEvent', 'weixin', 'share', 'QQ', 'complete']);
        //   },
        //   success: function (res) {
        //     _gaq.push(['_trackSocial', 'Wechat', 'QQ', ga_opt_target, ga_opt_pagePath]);
        //   },
        //   cancel: function (res) {
        //     _gaq.push(['_trackEvent', 'weixin', 'share', 'QQ', 'cancel']);
        //   },
        //   fail: function (res) {
        //     _gaq.push(['_trackEvent', 'error', 'weixinjsapi', 'QQ', JSON.stringify(res)]);
        //   }
        // });
    
        // wx.onMenuShareWeibo({
        //   title: shareTitle,
        //   desc: descContent,
        //   link: message_link,
        //   imgUrl: imgUrl,
        //   trigger: function (res) {
        //     _gaq.push(['_trackEvent', 'weixin', 'share', 'Weibo', 'click']);
        //   },
        //   complete: function (res) {
        //     _gaq.push(['_trackEvent', 'weixin', 'share', 'Weibo', 'complete']);
        //   },
        //   success: function (res) {
        //     _gaq.push(['_trackSocial', 'Wechat', 'Weibo', ga_opt_target, ga_opt_pagePath]);
        //   },
        //   cancel: function (res) {
        //     _gaq.push(['_trackEvent', 'weixin', 'share', 'Weibo', 'cancel']);
        //   },
        //   fail: function (res) {
        //     _gaq.push(['_trackEvent', 'error', 'weixinjsapi', 'Weibo', JSON.stringify(res)]);
        //   }
        // });
        
        //微信全局推送触发事件(测试代码)

    });
}
load_wx();
wx.error(function (res) {
  _gaq.push(['_trackEvent', 'error', 'weixinjsapi', 'initial', res.errMsg, 'false']);
});
/*
   * 注意：
   * 1. 所有的JS接口只能在公众号绑定的域名下调用，公众号开发者需要先登录微信公众平台进入“公众号设置”的“功能设置”里填写“JS接口安全域名”。
   * 2. 如果发现在 Android 不能分享自定义内容，请到官网下载最新的包覆盖安装，Android 自定义分享接口需升级至 6.0.2.58 版本及以上。
   * 3. 完整 JS-SDK 文档地址：http://mp.weixin.qq.com/wiki/7/aaa137b55fb2e0456bf8dd9148dd613f.html
   *
   * 如有问题请通过以下渠道反馈：
   * 邮箱地址：weixin-open@qq.com
   * 邮件主题：【微信JS-SDK反馈】具体问题
   * 邮件内容说明：用简明的语言描述问题所在，并交代清楚遇到该问题的场景，可附上截屏图片，微信团队会尽快处理你的反馈。
*/    
</script>
</body>
</html>