<html>
    <head>
        <meta charset="utf-8">
        <meta name='description' content='{% block description %}orz-i{% endblock %}'>
        <meta name="keywords" content="{% block keywords %}orz-i{% endblock %}"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
        <meta name="apple-mobile-web-app-capable" content="yes" />
        <title>{% block title %}Blog{% endblock %}</title>
        {% block style %}
            <link href="http://cdn.orz-i.com/public/bootstrap.min.css" rel="stylesheet">
            <link href="http://cdn.orz-i.com/public/main.css?v=1" rel="stylesheet">
        {% endblock %}
    </head>
    <body>
        {% block content %}
            <p>Missing content!</p>
        {% endblock %}
        

        <script src="http://cdn.orz-i.com/public/jquery-2.1.3.min.js"></script>
        <script src="http://cdn.orz-i.com/public/bootstrap.min.js"></script>


        <script type="text/javascript">

$(document).ready(function() {
    $(".btn").click(function() {
        var storage = window.localStorage;
        orz = JSON.parse(storage.getItem("orz")) || null;

        if ( !! orz) {
            alert("您已经领取过了！鸡和马为" + orz.codes);
            return false;
        } else {
            var data = {};
            data.mail = $(".mail").val();
            data.name = $(".name").val();

            if (data.mail != "" && data.name != "") {

                $.get('/mail', data, function(response) {
                    if ( !! response.msg) {
                        alert(response.msg);
                    } else {
                        storage.setItem("orz", JSON.stringify(response));
                        alert("成功领取！鸡和马为" + response.codes);
                    }
                });

            } else {

               alert("信息不全！");
            }



        }
    });

});
        </script>
        
    </body>
</html>