{% set title = "快看！"+boy+"和"+girl+"开始疯狂的秀恩爱啦！"; %}
{% extends 'layout.html' %}
{% block content %}
    <style>
    .bold{ font-weight: 900;}
    .margin-top{  margin-top: 20px;}
    .content{ font-size: 22px;
    color: #fff;
    line-height: 38px}
    .angle-icon-1{   position: absolute;
    top: 50px;
    right: -110px;-webkit-animation: pop 15s ease-in 0s infinite;}
    .angle-icon-2{position: absolute;
    top: 550px;
    left: -110px;-webkit-animation: pop 17s ease-in 0s infinite;}
    @-webkit-keyframes pop {
    0% { -webkit-transform: translateY(0px) }
    25% { -webkit-transform: translateY(20px) }
    50% { -webkit-transform: translateY(0px) }
    75% { -webkit-transform: translateY(-20px) }
    100% { -webkit-transform: translateY(0px) }
    }
        .btn-pic{ display: none;}
    .btn-pic-3{display: block;-webkit-animation:show 1s 16s ease both;}
    </style>
    <div id="musicbox">
        <audio id="music" preload="preload" loop="loop">
            <source src="http://cdn.orz-i.com/qx/m/3.mp3">
        </audio>
    </div>
    <div id="btn_sound"></div>
    <div class="wrapper-bg">
        <div class="content-box" >
            <div class="logo"><img  src="http://cdn.orz-i.com/qx/images/logo.png" /></div>
            <div class="bg"><img src="http://cdn.orz-i.com/qx/images/bg-3.jpg" /></div>
            <div class="content-area">
                <img class="title-pic" src="http://cdn.orz-i.com/qx/images/title-3-1.png" />
                <img class="cover-pic" src="http://cdn.orz-i.com/qx/images/cover-3.png" />
                <div class="content">
                    <p class="content-text content-1">七夕佳节，西湖岸边，</p>
                    <p class="content-text content-2">正在淅淅沥沥的下着小雨。</p>
                    <p class="content-text content-3 "><span class="big">{{boy}}</span>和<span class="big">{{girl}}</span>撑着一把伞，互相依偎着。</p>
                    <p class="content-text content-4">此刻二人身边的空气氤氲着甜蜜的味道，</p>
                    <p class="content-text content-5">更点缀了西湖的美景。</p>
                    <p class="content-text content-6 margin-top"><span class="big">{{girl}}</span>靠着<span class="big">{{boy}}</span>的肩头，轻声说道：</p>
                    <p class="content-text content-7 bold">听说下雨天</p>
                    <p class="content-text content-8 bold">鲜花和巧克力一起送我，更配哦。</p>
                    <p class="content-text content-9"><span class="big">{{boy}}</span>转过头，凝视着<span class="big">{{girl}}</span>那精致</p>
                    <p class="content-text content-10">的脸庞，竟有些痴了，不觉羞红了脸，</p>
                    <p class="content-text content-11">害羞得低下头去，呢喃着：</p>
                    <p class="content-text content-12 bold">你tm听谁说的……</p>
                    <p class="content-text content-13 bold margin-top">感谢百度钱包提供的定制雨伞作为道具。</p>
                    <p class="content-text content-14 bold">七夕节，</p>
                    <p class="content-text content-15 bold">百度钱包支持你，恩爱大胆秀起来！</p>
                </div>
                <img class="angle-icon-1"src="http://cdn.orz-i.com/qx/images/angle-3-2.png" />
                <img class="angle-icon-2"src="http://cdn.orz-i.com/qx/images/angle-3-1.png" />
            </div>
            <a id="join" href="/case/magpie/make"><img class="btn-pic btn-pic-3" src="http://cdn.orz-i.com/qx/images/join-btn.png" /></a>
        </div>
    </div>
{% endblock %}