{% extends 'layout.html' %}
{% block title %}Node.js{% endblock %}
{% block content %}
	
	
11111

<script src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>

<script>


var appId = "{{signature.appid}}";
var timestamp = "{{signature.timestamp}}";
var nonceStr = "{{signature.nonceStr}}";
var signature = "{{signature.signature}}";


</script>

    <script>
    var _ = this,
    href = document.location.href,
    path = href.substr(0, href.lastIndexOf('/')),
    src = 'http://cdn.orz-i.com/xyk/images/page1_peo.gif',
    imgUrl = src,
    lineLink = href,
    descContent = '关于还信用卡，你所不知道的秘密',
    shareTitle = '新get√ ！还信用卡还能赚钱！';
    wx.config({
      debug: true,
    appId: appId,
    timestamp: timestamp,
    nonceStr: nonceStr,
    signature: signature,
    jsApiList: [
    'onMenuShareTimeline',
    'onMenuShareAppMessage',
    'onMenuShareQQ',
    'onMenuShareWeibo',
    'checkJsApi',
    'chooseImage'
    // 所有要调用的 API 都要加到这个列表中
    ]
    });
    wx.ready(function () {
    // 在这里调用 API
    
    wx.onMenuShareAppMessage({
    title: shareTitle,
    desc: "关于还信用卡，你所不知道的秘密",
    link: lineLink,
    imgUrl: imgUrl,
    trigger: function (res) {
    // alert('用户点击发送给朋友');
    },
    success: function (res) {
    // alert('已分享');
    },
    cancel: function (res) {
    // alert('已取消');
    },
    fail: function (res) {
    alert(JSON.stringify(res));
    }
    });
    wx.onMenuShareTimeline({
    title: "新get√ ！还信用卡还能赚钱！",
    link: lineLink,
    imgUrl: imgUrl,
    trigger: function (res) {
    // alert('用户点击分享到朋友圈');
    },
    success: function (res) {
    // alert('已分享');
    },
    cancel: function (res) {
    // alert('已取消');
    },
    fail: function (res) {
    alert(JSON.stringify(res));
    }
    });
    wx.onMenuShareQQ({
    title: shareTitle,
    desc: descContent,
    link: lineLink,
    imgUrl: imgUrl,
    trigger: function (res) {
    // alert('用户点击分享到QQ');
    },
    complete: function (res) {
    // alert(JSON.stringify(res));
    },
    success: function (res) {
    // alert('已分享');
    },
    cancel: function (res) {
    // alert('已取消');
    },
    fail: function (res) {
    alert(JSON.stringify(res));
    }
    });
    });
    </script>



{% endblock %}