
<!DOCTYPE html>
<html lang="zh-cn">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title> 压力测试页面</title>
    <!-- Bootstrap -->
    <link href="http://cdn.orz-i.com/public/bootstrap.min.css" rel="stylesheet">
    <link href="http://www.orz-i.com/css/main.css" rel="stylesheet">
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="http://cdn.bootcss.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="http://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <!-- Fixed navbar -->
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">趴趴熊和它的伙伴们</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            
            <li><a href="http://55u.me/category/life" >不写代码的日子</a></li>
            <li><a href="http://55u.me/category/work" >写代码的日子</a></li>
            <li><a href="#about">ReadMe</a></li>
            
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Other<span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
                <li><a href="#">Action</a></li>
                <li><a href="#">Another action</a></li>
                <li><a href="#">Something else here</a></li>
              </ul>
            </li>
          </ul>
          </div><!--/.nav-collapse -->
        </div>
      </nav>
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="post">
              <h2><a href="#">趴趴熊和它的伙伴们</a></h2>
              <div class="time"><p>2015-03-24</p></div>
              <div >
                <p>一切才刚刚开始</p>
                <p>
                  <img src="http://cdn.orz-i.com/home/img/2.jpg?imageMogr2/thumbnail/5184x3456/interlace/1" alt="my apple" >
                </p>
              </div>
            </div>
          </div>
        </div>
        <footer class="bs-docs-footer" role="contentinfo">
          <div class="container foot-center">
            @2015 orz-i.com
            <a href="http://www.miitbeian.gov.cn/">黑ICP备15004103号</a>
            <a href="http://55u.me">skua</a>
          </div>
        </footer>
      </div>
      <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
      <script src="http://cdn.orz-i.com/public/jquery-2.1.3.min.js"></script>
      <!-- Include all compiled plugins (below), or include individual files as needed -->
      <script src="http://cdn.orz-i.com/public/bootstrap.min.js"></script>
    </body>
  </html>