<!doctype html>
<html lang="en">
  <head>
    <title>这些节日之间，隐藏的关系是……</title>
    <meta charset="utf-8">
    <meta name="viewport" content="target-densitydpi=device-dpi,width=600 user-scalable=0">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="format-detection" content="telephone=no">
    <link rel="stylesheet" type="text/css" href="{{ '/assets/christmas/main.css'|version }}"/>
    
  </head>
  <body>
    <div class="content">
      <!--                     <div id="musicbox">
        <audio id="music" preload="preload" loop="loop">
          <source src="http://cdn.orz-i.com/yzfr/image/bgm2.mp3">
        </audio>
      </div>
      <div id="btn_sound"></div> -->
            <div class="home">
        <div class="home-bg"><img src="http://cdn.orz-i.com/chr/img/change-bg.jpg" /></div>
        <div class="q-top"><img src="http://cdn.orz-i.com/chr/img/top-f-2.gif" /></div>
        <div class="home-boy-girl"><img src="http://cdn.orz-i.com/chr/img/home-boy-girl-2.gif" /></div>
        <div class="home-title"><img src="http://cdn.orz-i.com/chr/img/home-title.png" /></div>
        <a class="home-btn"><img src="http://cdn.orz-i.com/chr/img/home-btn.png" /></a>
      </div>
      <div class="change">
        <div class="change-bg"><img src="http://cdn.orz-i.com/chr/img/change-bg.jpg" /></div>
        <div class="q-top"><img src="http://cdn.orz-i.com/chr/img/top-f-2.gif" /></div>
        <div class="boy-gir"><img src="http://cdn.orz-i.com/chr/img/boy-girl-1.gif" /></div>
        <div class="boy-girl-btn"><img src="http://cdn.orz-i.com/chr/img/boy-girl-btn.png" /></div>
        <a class="btn-boy"></a><a class="btn-girl"></a>
      </div>
      <div class="q-box-out">
        <div class="q-bg"><img src="http://cdn.orz-i.com/chr/img/q-bg-1.jpg" /></div>
        <div class="q-top"><img src="http://cdn.orz-i.com/chr/img/top-f-2.gif" /></div>
        <div class="q-bg-w"></div>
        <div class="q-cover"><img src="http://cdn.orz-i.com/chr/img/pic-cover.png" /></div>
        <!-- 男孩 -->
        <div class="boy-box">
          <div class="q-box-1 q-box active">
            <div class="q-gif"><img src="http://cdn.orz-i.com/chr/img/b-q-1.gif" /></div>
            <div class="q-q4"><img src="http://cdn.orz-i.com/chr/img//b-q-t1.png" />
              <a class="q-btn-1 q-btn" data-id="1"></a>
              <a class="q-btn-2 q-btn" data-id="2"></a>
              <a class="q-btn-3 q-btn" data-id="3"></a>
              <a class="q-btn-4 q-btn" data-id="4"></a>
            </div>
          </div>
          <div class="q-box-2 q-box">
            <div class="q-gif"><img src="http://cdn.orz-i.com/chr/img/b-q-2.gif" /></div>
            <div class="q-q4"><img src="http://cdn.orz-i.com/chr/img//b-q-t2.png" />
              <a class="q-btn-1 q-btn" data-id="1"></a>
              <a class="q-btn-2 q-btn" data-id="2"></a>
              <a class="q-btn-3 q-btn" data-id="3"></a>
              <a class="q-btn-4 q-btn" data-id="4"></a>
            </div>
          </div>
          <div class="q-box-3 q-box">
            <div class="q-gif"><img src="http://cdn.orz-i.com/chr/img/b-q-3.gif" /></div>
            <div class="q-q4"><img src="http://cdn.orz-i.com/chr/img//b-q-t3.png" />
              <a class="q-btn-1 q-btn" data-id="1"></a>
              <a class="q-btn-2 q-btn" data-id="2"></a>
              <a class="q-btn-3 q-btn" data-id="3"></a>
              <a class="q-btn-4 q-btn" data-id="4"></a>
            </div>
          </div>
          <div class="q-box-4 q-box">
            <div class="q-gif"><img src="http://cdn.orz-i.com/chr/img/b-q-4.gif" /></div>
            <div class="q-q4"><img src="http://cdn.orz-i.com/chr/img//b-q-t4.png" />
              <a class="q-btn-1 q-btn" data-id="1"></a>
              <a class="q-btn-2 q-btn" data-id="2"></a>
              <a class="q-btn-3 q-btn" data-id="3"></a>
              <a class="q-btn-4 q-btn" data-id="4"></a>
            </div>
          </div>
          <div class="q-box-5 q-box">
            <div class="q-gif"><img src="http://cdn.orz-i.com/chr/img/b-q-5.gif" /></div>
            <div class="q-q4"><img src="http://cdn.orz-i.com/chr/img//b-q-t5.png" />
              <a class="q-btn-1 q-btn" data-id="1"></a>
              <a class="q-btn-2 q-btn" data-id="2"></a>
              <a class="q-btn-3 q-btn" data-id="3"></a>
              <a class="q-btn-4 q-btn" data-id="4"></a>
            </div>
          </div>
        </div>
        <!-- 男孩 -->
        <!-- 女孩 -->
        <div class="girl-box">
          <div class="q-box-1 q-box active">
            <div class="q-gif"><img src="http://cdn.orz-i.com/chr/img/g-q-1.gif" /></div>
            <div class="q-q4"><img src="http://cdn.orz-i.com/chr/img//g-q-t1.png" />
              <a class="q-btn-1 q-btn" data-id="1"></a>
              <a class="q-btn-2 q-btn" data-id="2"></a>
              <a class="q-btn-3 q-btn" data-id="3"></a>
              <a class="q-btn-4 q-btn" data-id="4"></a>
            </div>
          </div>
          <div class="q-box-2 q-box">
            <div class="q-gif"><img src="http://cdn.orz-i.com/chr/img/g-q-2.gif" /></div>
            <div class="q-q4"><img src="http://cdn.orz-i.com/chr/img//g-q-t2.png" />
              <a class="q-btn-1 q-btn" data-id="1"></a>
              <a class="q-btn-2 q-btn" data-id="2"></a>
              <a class="q-btn-3 q-btn" data-id="3"></a>
              <a class="q-btn-4 q-btn" data-id="4"></a>
            </div>
          </div>
          <div class="q-box-3 q-box">
            <div class="q-gif"><img src="http://cdn.orz-i.com/chr/img/g-q-3.gif" /></div>
            <div class="q-q4"><img src="http://cdn.orz-i.com/chr/img//g-q-t3.png" />
              <a class="q-btn-1 q-btn" data-id="1"></a>
              <a class="q-btn-2 q-btn" data-id="2"></a>
              <a class="q-btn-3 q-btn" data-id="3"></a>
              <a class="q-btn-4 q-btn" data-id="4"></a>
            </div>
          </div>
          <div class="q-box-4 q-box">
            <div class="q-gif"><img src="http://cdn.orz-i.com/chr/img/g-q-4.gif" /></div>
            <div class="q-q4"><img src="http://cdn.orz-i.com/chr/img//g-q-t4.png" />
              <a class="q-btn-1 q-btn" data-id="1"></a>
              <a class="q-btn-2 q-btn" data-id="2"></a>
              <a class="q-btn-3 q-btn" data-id="3"></a>
              <a class="q-btn-4 q-btn" data-id="4"></a>
            </div>
          </div>
          <div class="q-box-5 q-box">
            <div class="q-gif"><img src="http://cdn.orz-i.com/chr/img/g-q-5.gif" /></div>
            <div class="q-q4"><img src="http://cdn.orz-i.com/chr/img//g-q-t5.png" />
              <a class="q-btn-1 q-btn" data-id="1"></a>
              <a class="q-btn-2 q-btn" data-id="2"></a>
              <a class="q-btn-3 q-btn" data-id="3"></a>
              <a class="q-btn-4 q-btn" data-id="4"></a>
            </div>
          </div>
        </div>
        <!-- 女孩 -->
      </div>
<!-- 分享 -->
      <div class="end-share-box last">
        <div class="end-bg"><img src="http://cdn.orz-i.com/chr/img/end-bg.jpg" /></div>
        <div class="q-top"><img src="http://cdn.orz-i.com/chr/img/top-f-2.gif" /></div>
        <div class="home-boy-girl"><img src="http://cdn.orz-i.com/chr/img/home-boy-girl-2.gif" /></div>
        <div class="end-share"><img src="http://cdn.orz-i.com/chr/img/end-share-info.png" /></div>
        <div class="end-text"><img src="http://cdn.orz-i.com/chr/img/end-share-text.png" /></div>
      </div>
<!-- 分享 -->

<!-- 得分 -->
<!--       <div class="end-score-box last">
        <div class="end-bg"><img src="http://cdn.orz-i.com/chr/img/end-bg.jpg" /></div>
        <div class="q-top"><img src="http://cdn.orz-i.com/chr/img/top-f-2.gif" /></div>

        <div class="score-num score-num-1"><img src="http://cdn.orz-i.com/chr/img/score-0.png" /></div>
        <div class="score-num score-num-2 active"><img src="http://cdn.orz-i.com/chr/img/score-20.png" /></div>
        <div class="score-num score-num-3"><img src="http://cdn.orz-i.com/chr/img/score-40.png" /></div>
        <div class="score-num score-num-4"><img src="http://cdn.orz-i.com/chr/img/score-60.png" /></div>
        <div class="score-num score-num-5"><img src="http://cdn.orz-i.com/chr/img/score-80.png" /></div>
        <div class="score-num score-num-6"><img src="http://cdn.orz-i.com/chr/img/score-100.png" /></div>

        <div class="score-text"><img src="http://cdn.orz-i.com/chr/img/score-text.png" /></div>
        <div class="score-share-btn"><img src="http://cdn.orz-i.com/chr/img/score-share-btn.png" /></div>
        <div class="score-link-btn"><img src="http://cdn.orz-i.com/chr/img/score-link-btn.png" /></div>
        <div class="score-again-btn"><img src="http://cdn.orz-i.com/chr/img/score-again-btn.png" /></div>
      </div> -->
<!-- 得分 -->


    </div>
    <script src="http://cdn.orz-i.com/public/zepto.min.js"></script>
    <script src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
    <script>
    var appId = "{{signature.appid}}";
    var timestamp = "{{signature.timestamp}}";
    var nonceStr = "{{signature.nonceStr}}";
    var signature = "{{signature.signature}}";
    </script>
    <script src="{{ '/assets/christmas/main.js'|version }}"></script>
    <script type="text/javascript" src="http://tajs.qq.com/stats?sId=50632034" charset="UTF-8"></script>
  </body>
</html>