	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
		<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />
		<meta name="apple-mobile-web-app-capable" content="yes" />
		{% if content %}
			<title>{{content.post_title|safe}} </title>
		{% else %}
			<title>{ME:55u}</title>
		{% endif %}
		<link href="https://nzfzaa1v6.qnssl.com/public/bootstrap.min.css" rel="stylesheet">
		<link href="https://nzfzaa1v6.qnssl.com/public/main.css" rel="stylesheet">
		<link rel="shortcut icon" href="https://nzfzaa1v6.qnssl.com/public/logo.jpg"/>
		<style>
		.post img{ margin-bottom: 15px; margin-top: 15px;}
		.post .content{  line-height: 2rem;}
		#smart-nav-containter{display: none;}
		</style>
	</head>