<!doctype html>
<html lang="en">
  <head>
    <title>测试</title>
    <meta charset="utf-8">
    <meta name="viewport" content="target-densitydpi=device-dpi,width=640 user-scalable=0">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="format-detection" content="telephone=no">
     
  </head>
  <body>
   

<a class="btn">按钮</a>

   <script src="https://nzfzaa1v6.qnssl.com/public/jquery-2.1.3.min.js"></script>
    
    <script>

$(function() {
  $('.btn').on('click', function(e) {


    $.post('/test', {
      body: JSON.stringify({

      })
    }).then(function(res) {

console.log(res)

    });


  });
 }); 


    </script>
    
  </body>
</html>